* {margin:0;
padding:0;
box-sizing: border-box;}

body {margin: 0 auto;
width: 700px;}

.container {
background-image: url(/resources/beach3.jpg);
height:370px;
background-repeat: no-repeat;
position: relative;
}
.text1 {position: absolute;
  bottom:10%;
  background-color: rgba(255, 166, 0, 0.791);
  width: 450px;
  padding:5px
}
.anh1 img{
width:300px;
height: 150px;
margin-right: 30px;
border-top:5px solid orange;
}

.phan2 {
display:flex;
flex-wrap: wrap;
width: 700px;
height: 550px;
margin-left:35px;
}

.anh1 p{
margin-top:10px;
width: 250px;
}
